.summary_container{
	width:100%;
	display: table;
}

.summary_image{
	width: 200px;
	display:table-cell;
	vertical-align: top;
	padding-right: 20px;
}

.summary_text{
	display:table-cell;
	vertical-align: top;
}

.featured_image{
	width: 100%;
	}

.header_container{
	width:100%;
	height: 100px;
	display:table;
	
}

.featured_image_container{
	width: 160px;
	max-height: 160px;
	padding-right:20px;
	display: table-cell;
	vertical-align:middle;
	}
	
.post_meta_container{
	width:auto;
	display: table-cell;
	min-width:400px;
	vertical-align: bottom;
}

.highlight_section {
	background-color: #fffacd;
	padding:10px;
}

.warn {
	color: white;
	font-weight: bold;
	background: red;
	text-align: center;
}

input[type=text], input[type=email], textarea {
	display: inline-block;
  	border: 1px solid transparent;
  	border-top: none;
  	border-bottom: 1px solid #DDD;
  	box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
	border-radius: 4px;
	margin: 2px 2px 2px 2px;
	resize:none;
	float: left;
	width: 100%;
}

textarea, input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

input[type=submit] {
	width: 100%;
}

.center {
	margin: auto;
}

input {
	height:50px;
}

textarea {
	height: 200px;
	padding-left: 0px;
}

input, textarea::-webkit-input-placeholder {
   padding-left: 10px;
}
input, textarea::-moz-placeholder {
   padding-left: 10px;
}
input, textarea:-ms-input-placeholder {
   padding-left: 10px;
}
input, textarea:-moz-placeholder {
   padding-left: 10px;
}
  

label{
	display: inline-block;
	float: left;
	clear: left;
	width: 250px;
	text-align: right;
	}
	
img.banner {
	width: 100%;
	height: 175px;
}

ul.share-buttons{
  list-style: none;
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  padding-left:5px;
}

ul.share-buttons .sr-only {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

#container {
	position: relative;
	width:auto;

}

#right_content {
float:left;
overflow:hidden;
display:block;
padding-right:1%;

}

#left_content {
float:left;
	width:78%;
	display:block;
	margin:auto;
	min-width=600px;

}

.code-math-sbs-container  {
	width:100%;
	margin:auto;
	display: inline-block;

}

.code-math-sbs-right {
	display:block;
	padding-right:1%;
	width:45%;
	float: left;


}

.code-math-sbs-left {
	float:left;
	width:45%;
	display:block;
	margin:auto;
	text-align:left;
}

.figure_container {
	width:80%;
	margin: auto;	
	text-align:center;
}

.figure_images {
	width:100%;
	margin:auto;
	display: inline-block;

}



.figure_caption {
	width: auto;
	text-align: center;

}

pre > code {
	font-size:11pt;
}

code.has-jax {
	font: inherit;
	font-size: 100%;
	background: inherit;
	border: inherit;
	color: #515151;
}


.blog-container{
text-align: center;
border: 1px black solid;
}


.left-blog-content {
width:auto;

text-align: left;
vertical-align:top;
border: 1px black solid;
float:left;
}

.right-blog-content {

max-width:350px;
text-align: center;
float:right;
border: 1px black solid;
}

td {
border: 1px red solid;
width:70%;
}

td:second-child {
background-image: '/img/CNN/originDLpaper.png';
background-repeat: no-repeat;
background-size: cover;
background-position: 50%;

}

@media screen and (max-width: 600px) {

#left_content {
	width: 100%;
	}
	
	.content {
	max-width:100%;
	}



#right_content {
	width:100%;
}

pre > code {
	font-size:8pt;
}

.figure_container {
	width:100%;
	margin: auto;	
	text-align:center;

}

.featured_image_container{
	width: 160px;
	height: 160px;
	margin:auto;
	display: block;
	vertical-align:middle;
	}
	
.post_meta_container{
	width:auto;
	min-width:300px;
	display: block;
	vertical-align: bottom;
}

.summary_image{
	width: 0px;
	display: None;
	vertical-align: top;
	
.left-blog-content, .right-blog-content{
max-width:100%;
}


}

