<article>

  <header>
    <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>


  </header>
  
<div class="summary_container">

<div class="summary_image">

{{ if isset .Params "featured_image" }}
{{ with .Params.featured_image }}<img class="featured_image" src="{{ . }}">{{ end }}{{else}}<img class="summary_image" src="/img/brain.png">
{{ end }}
</div>

  <div class="summary_text">

  {{ partial "summary_post_meta.html" . }}
  
  <p>
  {{ .Summary }}
  </p>
  
  </div>

  </div>

  {{ if .Truncated }}

  <footer>
    <a href="{{ .RelPermalink }}">Read more<i class="fa fa-angle-double-right fa-fw"></i></a>
  </footer>
  {{ end }}
</article>
