{{ partial "header.html" . }}

<div class="header">
  <h1>{{ .Title }}</h1>
  <h2>{{ .Site.Params.subtitle }}</h2>
</div>


<div id="container" class="center" border=1>
<div id="left_content" class="center">
	<div class="content">
		<div align="center">
		  <img title="pixabay:geralt" class="banner" src="/img/banner.jpg">
		</div>

	  {{ range ( .Paginate (where .Data.Pages "Type" "post")).Pages }}
	    {{ .Render "summary"}}
	  {{ end }}

	  {{ partial "pagination.html" . }}
	</div>
</div>
<div id="right_content" class="center">
	<center>{{ partial "twitterfeed.html" . }}</center>
</div>
</div>

{{ partial "footer.html" . }}
